// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form, .signup-form {
  height:     70vh;
  text-align: center;

  h2 {
    margin-top: 15vh;
  }

  input {
    font-size:     1.5em;
    height:        2em;
    margin-bottom: 1em;
    margin-top:    1em;
    padding:       10px    0;
    text-align:    center;
  }

  .sign-in {
    padding: 0;
  }

  .remember-me {
    bottom:   1em;
    position: relative;
  }
}